<app-nav-bar [isToken]='loggedIn' (logout)="onLogOut($event)"></app-nav-bar>

<div *ngIf="!myCart">
    <div *ngIf="!loggedIn" class="container mt-5 text-center">
        <div *ngIf="!goToReg && !goToLogin">
            <h2 class="mb-4"><span class="big_header"> Welcome To Online Shopping </span>
                <br>
                <span class="small_header"> 
                To See All Products & Your Shopping-Cart Please Register Or Sign-in</span></h2>
            <div class="button-group" style="position: relative;">
                <button type="button" class="btn btn-primary d-inline-flex w-40 mr-2" (click)="goToReg = true">REGISTER</button>
                <button type="button" class="btn btn-success d-inline-flex w-40 px-3" (click)="onLogin()">LOG-IN</button>
            </div>
        </div>
    </div>

        <div *ngIf="goToReg && !loggedIn">
            <app-register (afterReg)='afterRegistration($event)' (cancelReg)='goToReg=false'></app-register>
        </div>
        <div *ngIf="goToLogin && !loggedIn">
            <app-login (loggedIn)="afterLogin()" (cancelLog)='goToLogin= false'></app-login>
        </div>
       
</div>
<router-outlet></router-outlet>